.custom-img-opacity {
    opacity: 0;
    object-fit: contain;
    transform-style: preserve-3d;
    width: 100%;
    margin-bottom: -5.5%;
    display: block;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%)rotateX(61deg)rotateY(0)rotateZ(0);
  }